body {
	background-color: #94B0DA;
}

#clock {
	width: 600px;
	height:200px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	margin-top: auto;
	border: 5px solid black;

}

#time {
	text-align:center;
	font-family:sans-serif;
	font-color:black;
	letter-spacing:3px;
	font-size:28px;

}